<div *ngFor="let player of allPlayers" class="field-checkbox">
    <p-checkbox [(ngModel)]="selectedPlayers" [label]="player.name" name="group" [value]="player.id"
        [disabled]="selectedPlayers.length >= 2 && !selectedPlayers.includes(player.id)"></p-checkbox>
</div>

<ng-container *ngIf="showNameInput">
    <div class="custom-input-group">
        <input type="text" placeholder="Nom du joueur" class="custom-input" [(ngModel)]="newPlayer" />
        <button type="button" class="custom-button" (click)="addNewPlayer()">
            <i class="pi pi-check"></i>
        </button>
    </div>
    <small class="cursor-pointer text-600" (click)="showNameInput = false">Masquer</small>
</ng-container>


<a *ngIf="!showNameInput" class="add-button" (click)="showNameInput = true">
    <i class="pi pi-plus-circle"></i>
</a>

<div class="text-center mt-2">
    <button (click)="startPlaying()" class="btn" [disabled]="selectedPlayers.length <2">Commencer</button>
</div>