<div class="container">
    <!-- logo -->
    <div class="flex justify-content-center pt-4">
        <img class="logo" src="assets/img/logo.png" alt="logo">
    </div>

    <!-- Afficher un message en cas d'erreur -->
    <p-messages *ngIf="errorMessages" [(value)]="errorMessages" [enableService]="false" />

    <!-- lancer une nouvelle partie -->
    <div *ngIf="!errorMessages" class="text-center mt-6 mb-4">
        <button (click)="openDialog()" class="btn">Nouvelle partie</button>
    </div>

    <!-- liste des parties déjà jouées -->
    <div class="flex flex-column align-items-center">
        <div *ngFor="let game of games$ | async; let i = index" class="game-card">
            <h3 class="game-title">Bataille {{ i + 1 }}</h3>
            <ul class="score-list">
                <li *ngFor="let score of game.scores" class="score-item">
                    <img [src]="score.avatar" alt="{{ score.playerName }}" class="player-avatar">
                    <span class="player-name"
                        [ngStyle]="isWinner(game, score.playerName) ? {'color': 'green'} : {'color': 'black'}">{{
                        score.playerName }}</span>
                    <span class="player-score">{{ score.score }}</span>
                    <img *ngIf="isWinner(game, score.playerName)" src="assets/img/winner.png" alt="Winner"
                        class="winner-medal">
                </li>
            </ul>
        </div>
    </div>
</div>