<div class="container">
    <div class="flex-column align-content-between" *ngIf="player1 && player2 && !isFinished">
        <!-- Header (titre et message d'attente de joueur) -->
        <div class="flex-grow-1">
            <div class="flex justify-content-center header-container relative">
                <i class="pi pi-sign-out leave-icon" routerLink="/home"></i>
                <h1 class="mt-2">Bataille</h1>
            </div>
            <div *ngIf="player1Clicked && !player2Clicked" class="waiting-message">
                <span class="badge">En attente de {{ player2.player.name }}</span>
            </div>
            <div *ngIf="player2Clicked && !player1Clicked" class="waiting-message">
                <span class="badge">En attente de {{ player1.player.name }}</span>
            </div>

            <!-- Cartes jouées pour la bataille -->
            <div class="battle-container">
                <div *ngIf="currentPlayer1Card" [@cardAnimation]="cardState1" class="battle-card player1-card">
                    {{ currentPlayer1Card }}
                </div>
                <div *ngIf="currentPlayer2Card" [@cardAnimation]="cardState2" class="battle-card player2-card">
                    {{ currentPlayer2Card }}
                </div>
            </div>
        </div>

        <!-- Joueurs et nombre de rounds restants -->
        <div class="flex-shrink-1 flex align-items-end justify-content-between">
            <!-- joueur 1 -->
            <div class="flex flex-column align-items-center player-left">
                <img [src]="player1.player.avatar" alt="{{ player1.player.name }}" class="player-avatar">
                <p class="player-name">{{ player1.player.name }} <span class="card-count">({{ player1.score }}
                        point<span *ngIf="player1.score>1">s</span>)</span></p>
                <div class="deck-info">
                    <div class="cards">

                        <div *ngFor="let card of player1.deck; let i = index" class="card-back blue-card"
                            [ngStyle]="{ 'transform': 'translateY(' + i * 2 + 'px)' }"></div>
                    </div>
                    <button [disabled]="disableButtons" class="btn mt-7" (click)="play('player1')">Jouer</button>
                </div>
            </div>

            <!-- nombre de rounds restants -->
            <h2 class="mb-0">{{player1.deck.length}} partie<span *ngIf="player1.deck.length>1">s</span> restante<span
                    *ngIf="player1.deck.length>1">s</span></h2>

            <!-- joueur 2 -->
            <div class="flex flex-column align-items-center player-right">
                <img [src]="player2.player.avatar" alt="{{ player2.player.name }}" class="player-avatar">
                <p class="player-name">{{ player2.player.name }} <span class="card-count">({{ player2.score }}
                        point<span *ngIf="player2.score>1">s</span>)</span></p>
                <div class="deck-info">
                    <div class="cards">
                        <div *ngFor="let card of player2.deck; let i = index" class="card-back red-card"
                            [ngStyle]="{ 'transform': 'translateY(' + i * 2 + 'px)' }"></div>
                    </div>
                    <button [disabled]="disableButtons" class="btn mt-7" (click)="play('player2')">Jouer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Afficher le nom du vainqueur -->
    <congratulations *ngIf="isFinished" [player1]="player1" [player2]="player2">
    </congratulations>
</div>