<div class="flex flex-column justify-content-center align-items-center h-full">
    <div class="winner-container" *ngIf="winner && score">
        <img [src]="winner.avatar" alt="{{ winner.name }}" class="winner-avatar">
        <div class="winner-details">
            <h2 class="winner-name">{{ winner.name }}</h2>
            <p class="winner-score">Score: {{ score }}</p>
        </div>
        <img src="assets/img/trophee.png" alt="trophee" class="trophy-img">
    </div>
    <button class="btn mt-7" routerLink="/home">Fermer</button>
</div>